.services__article__container {
  margin-block: 1rem;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: RGBA(255, 101, 80, 0.49);
  opacity: 0;
}
.overlay:hover {
  opacity: 1;
  transition: opacity 0.5s;
}
