@import url('https://fonts.googleapis.com/css2?family=Asap&family=Bebas+Neue&family=Lobster&display=swap');
/* //? font-family: 'Bebas Neue', cursive; for titles  */
/* //?font-family: 'Lobster', cursive;  cursive font*/
/* //?font-family: 'Asap', sans-serif;  general font */
:root {
  --titles-font: 'Bebas Neue', cursive;
  --cursive-font: 'Lobster', cursive;
  --general-font: 'Asap', sans-serif;
}
.margin-2 {
  margin-block: 0.5rem;
}
